@media (max-width: 1024px)
{
	
#osnova {
    padding: 78px 30px;
}	

.social_media {
    margin-right: 15px;
}

#Сonnexions {
    margin-left: 0px;
}

.line { 
	margin-left: -20px;
   }
   
   .line1 { 
	margin-left: 100px;
   }

.whirebor {
	margin-left: 47px;
}

.container2 {
  grid-template-columns: repeat(3, 290px);
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 30px;
    padding-left: 0px;
}

.product-page {
    background-size: auto 60%;
}

.col-xs-12 {
    width: 70%;
		margin-top: -50px;
		    padding-left: 20px;

}

.product-page .phrase.w {
    font-size: 25px;
}

.product-page .phrase {
    margin: 30px 20px 0;
}

.mes8 {
	padding-left: 20px;
}

.head h1 {	
	padding-left: 20px;
}

img {
    max-width: 500px;
}

img {
    max-width: 1010px;
}

.left-container {
    padding-left: 30px;
}

.left-container,
.right-container {
    width: 46%; 
	padding: 0 30px;

}












@media (max-width: 768px)
{
	

	
}


@media (max-width: 640px)
{
	
}

@media (max-width: 480px)
{
	
}

@media (max-width: 400px)
{
	
}

@media (max-width: 320px)
{
	
}
