<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Tomato all</title>
    <link rel="stylesheet" href="./css/style.css">

</head>
<body>
    <header class="header__tomato__all">
		<div class="wrapper">
			<div class="header__wrapper">
				<div class="header__logo">
					<a href="/" class="header__logo-link">
						<img src="./images/svg/logo.svg" alt="Agridera Seeds and Agriculture Ltd" class="header__logo-pic">
					</a>
				</div>
				<div class="header__burger burger">
					<span class="burger__line burger__line_first"></span>
					<span class="burger__line burger__line_second"></span>
					<span class="burger__line burger__line_third"></span>
				</div>
				<div class="header__nav__search-form">
					<form class="search-form">
						<p class="serch-form__info">
							<input type="text" class="serch-form__field" placeholder="Search">
						</p>
					</form>
				<nav class="header__nav">
					<ul class="header__list">
						<li class="header__item">
							<a href="index.html" class="header__link">Home</a>
						</li>
						<li class="header__item">
							<a href="index.html" class="header__link">Company Profile</a>
						</li>
						<li class="header__item">
							<a href="tomato__all.html" class="header__link">Products</a>
						</li>
						<li class="header__item">
							<a href="index.html" class="header__link">Services</a>
						</li>
						<li class="header__item">
							<a href="index.html" class="header__link">R & D</a>
						</li>
						<li class="header__item">
							<a href="contact_us.html" class="header__link">Contact</a>
					</ul>
					<div class="header__nav-close">
						<span class="header__nav-close-line"></span>
						<span class="header__nav-close-line"></span>
					</div>
				</nav>
				</div>
		</div>
		</div>
	</header>


<main class="main__tomatoes">
    <div class="tomato__all"></div>
	
	
        <section class="intro__tomato__all">
            <div class="tomatoes__block">
                <h1 class="tomatoes__all-title">

					Fresh Market Banana Hybrids
                </h1>
                <a class="tomaties__all__more"></a>
                <p class="tomatoes__all-desc-1">
                    Agridera aims to be one of the world's leading companies in the breeding, production, and marketing of tomato seeds. 
                <span class="bold"> We invest intensively in research and development to provide solutions to growers and consumers in numerous countries around the world.</span> In particular, we breed improved disease-resistant cultivars adapted to different markets globally.
				</p>
                <p class="tomatoes__all-desc">
                    Currently, emphasis is placed on combining Tomato Yellow Leaf Curl Virus (TYLCV) and Tomato Spotted Wilt Virus (TSWV) resistances with other soil borne diseases into superior tomato breeding lines and hybrids. Moreover, comprehensive efforts are being undertaken to develop varieties resistance to TBRFV virus (Tomato Brown Rugose Fruit Virus). 
                </p>
                <p class="tomatoes__all-desc">
                    In terms of horticultural traits, breeding is for earliness, different fruit sizes, firmness, red fruit color, flavor, crack resistance, shelf life, and high/low temperature fruit set. Combinations of quality features and disease resistance are sought in a variety of types, namely round and elongated shapes.
                </p>
                <h2 class="tomatoes__all-strip">
                    Agirdera Tomato breeding programs are focusing on three main segments: Greenhouse Indeterminate Tomatoes, Open-field Indeterminate Tomatoes, and Bush Type Open-field Tomatoes.
                </h2>
            </div>
    </section>



		<section class="markets">
			<div class="markets__wrap">
				<div class="markets__cards">
					<div class="markets__card">
						<h3 class="markets__card-title">
							Greenhouse Tomato Breeding Program
						</h3>
						<a class="markets__1"></a>
						<p class="markets__card-desc">
							<span class="bold">This breeding is aimed for the Spanish and Turkish markets.</span>For single and cluster picks, round fruit shape and resistances of TYLCV, TSWV, Nematodes and FORL (Fusarium oxysporum f.sp. radicis-lycopersici). Some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv). 
						</p>
					</div>
					<div class="markets__card">
						<h3 class="markets__card-title">
							Open-field Indeterminate Tomatoes
						</h3>
						<a class="markets__1"></a>
						<p class="markets__card-desc">
                            <span class="bold">This breeding is for Brazilian, Moroccan, and Turkish markets.</span> The main focus is on large round shape fruits (200 grams plus); and resistances of TYLCV, TSWV, Nematodes and FORL. In the near future, F3 (Fusarium oxysporum f.sp. lycopersici) will be included as basic resistance in our cultivars.
						</p>
					</div>
					<div class="markets__card">
						<h3 class="markets__card-title">
							Open-field Bush Type Tomatoes
						</h3>
						<a class="markets__1"></a>
						<p class="markets__card-desc">
							<span class="bold">This breeding is for Mediterranean markets.</span> We breed round and elongated shapes, standard sizes (140- 180 grams), and beef sizes (min. 180 grams up to 300 grams and more). We combine the resistances of TYLCV, TSWV and Nematodes as basic resistances in our hybrids. However, some hybrids may include more resistances, such as Cladosporium and Leveillula Taurica (Lv).
						</p>
					</div>
				</div>
			</div>
		</section>
        <section class="intro__tomato__all">
            <div class="tomatoes__block">
                <h4 class="tomatoes__all-strip-1">
                    Agridera operates through international and local distributers around the world. 
                </h4>
            </div>
        </section>



		<div class="tag__tomatoes">
			<div class="wrapper-full-1">
				<div class="tag__tomatoes__cards">

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg" v-if="products" v-for="p in products">
						<a :href="'tomato__one.html#'+p.id" class="bananaIMG__tomato-one">
							<img :src="'img/'+p.image" class="tag__tomatoes__card-pic">
						</a>
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">{{p.title}}</span>
								</h6>
								<p class="tag__card-desc">
									{{p.short_text}} 
								</p>
							</div>
						</h5>
					</div>

					<!--<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1001.jpg" alt="tag_1001" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1001 (TAG 855)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Standard Round 
								</p>
						</h5>
					</div>

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1002.jpg" alt="tag_1002" class="tag__tomatoes__card-pic">
						<a href="tomato__one.html" class="tag__tomatoes__link"></a>
							<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1002 (TAG 809)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Standard Round 
								</p>
						</h5>
					</div>

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1003.jpg" alt="tag_1003" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1003 (TAG 834)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Standard Round 
								</p>
						</h5>
					</div>

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1004.jpg" alt="tag_1004" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1004 (TAG 848)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red BEEF Round 
								</p>
						</h5>
					</div>

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1005.jpg" alt="tag_1005" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1005 (TAG 800)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Standard Round
								</p>
						</h5>
					</div>

					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1006.jpg" alt="tag_1006" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1006 (TAG 898)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Elongated
								</p>
						</h5>
					</div>
					<div class="tag__tomatoes__card tag__tomatoes__card_size_lg">
						<img src="./images/tag_1007.jpg" alt="tag_1007" class="tag__tomatoes__card-pic">
						<h5 class="tag__tomatoes__card-title">
							<div class="tag__card">
								<h6 class="tag__card-title">
									<span class="bold">TAG 1007 (TAG 816)</span>
								</h6>
								<p class="tag__card-desc">
									Tomato Determinate Red Elongated
								</p>
						</h5>
					</div>-->

				</div>
			</div>
<!-- Tag__tomatoes end -->

<!-- bananasList start -->
<!--<div class="bananasList cards">
	<div class="bananaCard">
		<div class="bananaItem card" v-if="products" v-for="p in products">
			<div class="cards">
				<div class="bananaImg">
					<a :href="'tomato__one.html#'+p.id" class="bananaIMG__tomato-one">
						{{p.id}}
					<img :src="'../img/'+p.image" alt="banana" class="banana__card-pic">
					</a>
				</div>
			</div>
			<div class="banana__title">
				<h7>
				<span class="bold">{{p.title}}</span>
				</h7>
			</div>
			<div class="bananaInfo">
				<span class="bold">{{p.short_text}}</span>
				<br>
				{{p.desc}}
			</div>
		</div>
	
</div>-->

</main>
<script src="./js/main_effects.js"></script>


<footer class="footer">
	<div class="wrapper1">
		<div class="footer__item">
			<div class="footer__menu">
				<ul class="footer__list">
					<li class="footer__item">
						<a href="index.html" class="footer__link">PROFILE</a>
					</li>
					<li class="footer__item">
						<a href="index.html" class="footer__link">MANAGEMENT</a>
					</li>
					<li class="footer__item">
						<a href="tomato__all.html" class="footer__link">PRODUCTS</a>
					</li>
					<li class="footer__item">
						<a href="index.html" class="footer__link">R&D</a>
					</li>
					<li class="footer__item">
						<a href="index.html" class="footer__link">LINKS</a>
					</li>
					<li class="footer__item">
						<a href="index.html" class="footer__link">SITEMAP</a>
					</li>
					<li class="footer__item">
						<a href="contact_us.html" class="footer__link">CONTACT</a>
					</li>
				</ul>
			</div>
			<nav class="footer__nav">
					<ul class="menu__list">
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_in.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_inst.svg">	 
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_tube.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_tw.svg">	
							</a>
						</li>
						<li class="menu__item">
							<a href="#!" class="menu__link">
								<img src="./images/svg/Ico_fb.svg">	
							</a>
						</li>
					</ul>
			</nav>
		</div>
	</div>
	<div class="footer__1">
		<div class="footer__title">
			<p class="footer__title-1">
				AGRIDERA SEEDS & AGRICULTURE LTD. © 2020
			</p>
		</div>
	</div>
	</div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
